@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
/*font-family: 'Nunito Sans', sans-serif;*/
html {scroll-behavior: smooth;
      cursor: url(cursor.cur),auto;}
body {font-family: 'Noto Sans KR';
      cursor: url(cursor.cur),auto;
      scroll-behavior: smooth;}
a {cursor: url(cursor.cur),auto;
  text-decoration: none;}
span.eng {font-family: 'Nunito Sans', sans-serif;}

::selection {
  background-color: #00ffc7;
  color: #000;
}





#title {
font-weight: 400;
line-height: 1.3;
text-align: center;
display: block;
width: 100%;
height: auto;
position: fixed;
top: 100px;
margin-left: auto;
margin: auto;
margin-right: auto;
font-size: 45px;

}

#title_chart {
font-weight: 400;
line-height: 1.3;
text-align: center;
display: block;
width: 100%;
height: auto;
position: fixed;
top: 40px;
margin-left: auto;
margin: auto;
margin-right: auto;
font-size: 25px;
z-index: 2;
}

#years_founded
{font-weight: 400;
line-height: 1.3;
text-align: center;
display: block;
width: 100%;
height: auto;
position: fixed;
bottom: 4px;
margin-left: auto;
margin: auto;
margin-right: auto;
font-size: 13px;}


.btn_graph {
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 15px 0 rgba(148, 148, 148, 0.5);
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  left: 26%;
  transition: 0.3s;
}

.btn_hover {
  width: 300px;
  height: 300px;
}

.btn_list {
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 15px 0 rgba(148, 148, 148, 0.5);
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  right: 26%;
  transition: 0.3s;
}

.btn_list_small
{width: 70px;
  height: 70px;
  box-shadow: 0 5px 15px 0 rgba(148, 148, 148, 0.5);
  background-color: #ffffff;
  border-radius: 50%;
  position: fixed;
  top: 40px;
  left: 30px;
  transition: 0.3s;
  z-index: 4;}

.btn_list_small:hover, .btn_list:hover
  {background-color: #00ffc7;
  transform: scale(1.1);
  transition: 0.2;
  box-shadow: 0 10px 30px 0 rgba(148, 148, 148, 0.5);
  }

.btn_graph:hover, .btn_list:hover
  {background-color: #00ffc7;
  transform: scale(1.1);
  transition: 0.2;
  box-shadow: 0 10px 30px 0 rgba(148, 148, 148, 0.5);
  }

.icon_index
  {width: 180px;
  height: 135px;
  margin: auto;
  position: inherit;
  top: 80px;
  left:60px;}

.icon_index_small
  {width: 30px;
  margin: auto;
  position: inherit;
  padding-top: 15px;
  padding-left: 20px;
}

.btn_getin
  {
  width: 300px;
  font-family: 'Noto Sans KR';
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #000000;}

#btn_graph_text
  {display: block;
  position: absolute;
  top: 600px;
  left:26%;
  text-align: center;}

#btn_list_text
  {display: block;
  position: absolute;
  text-align: center;
  top: 600px;
  right: 26%;}

.years
{position: relative;
  display: inline;
  margin-left: 25.55px;
  font-size: 17px;
  right: 25px;
  font-family: 'Nunito Sans', sans-serif;
  top: 0px;}

.years_box
{overflow-x: scroll;
  width: 5280px;
  margin-left: 50px;
  margin-right: 50px;
  position:absolute;
  bottom: 39px;
  height: 40px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }


.years_box::-webkit-scrollbar {
    display: none;
}

.dot_hak, .dot_hyup, .dot_etc, .dot_yeon, .dot_jin {
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inherit;
  position: absolute;
  transition: 0.3s;
  background-color: black;
}

.dot:hover, .dot_hak:hover, .dot_hyup:hover, .dot_etc:hover, .dot_yeon:hover, .dot_jin:hover {transform: scale(1.2);
  transition: 0.2;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.5);}

/*2016*/
#dot1
{bottom:100px;
left: 270px;}

/*2015*/
#dot2
{bottom: 100px;
left: 340px;}
#dot3
{bottom: 150px;
left: 340px;}

/*2014*/
#dot4
{bottom: 100px;
left: 410px;}
#dot5
{bottom: 150px;
left: 410px;}

/*2012*/
#dot6
{bottom: 100px;
left: 550px;}

/*2011*/
#dot7
{bottom: 100px;
left: 620px;}
#dot8
{bottom: 150px;
left: 620px;}
#dot9
{bottom: 200px;
left: 620px;}
#dot10
{bottom: 250px;
left: 620px;}

/*2009*/
#dot11
{bottom: 100px;
left: 760px;}
#dot12
{bottom: 150px;
left: 760px;}
#dot13
{bottom: 200px;
left: 760px;}
#dot14
{bottom: 250px;
left: 760px;}
#dot15
{bottom: 300px;
left: 760px;}


/*2008*/
#dot16
{bottom: 100px;
left: 830px;}
#dot17
{bottom: 150px;
left: 830px;}
#dot18
{bottom: 200px;
left: 830px;}
#dot19
{bottom: 250px;
left: 830px;}
#dot20
{bottom: 300px;
left: 830px;}
#dot21
{bottom: 350px;
left: 830px;}
#dot22
{bottom: 400px;
left: 830px;}
#dot23
{bottom: 450px;
left: 830px;}
#dot24
{bottom: 500px;
left: 830px;}
#dot25
{bottom: 550px;
left: 830px;}
#dot26
{bottom: 600px;
left: 830px;}
#dot27
{bottom: 650px;
left: 830px;}
#dot28
{bottom: 700px;
left: 830px;}

/*2007*/
#dot29
{bottom: 100px;
left: 900px;}
#dot30
{bottom: 150px;
left: 900px;}
#dot31
{bottom: 200px;
left: 900px;}
#dot32
{bottom: 250px;
left: 900px;}

/*2006*/
#dot33
{bottom: 100px;
left: 970px;}
#dot34
{bottom: 150px;
left: 970px;}
#dot35
{bottom: 200px;
left: 970px;}

/*2005*/
#dot36
{bottom: 100px;
left: 1040px;}
#dot37
{bottom: 150px;
left: 1040px;}

/*2004*/
#dot38
{bottom: 100px;
left: 1110px;}
#dot39
{bottom: 150px;
left: 1110px;}

/*2003*/
#dot40
{bottom: 100px;
left: 1180px;}
#dot41
{bottom: 150px;
left: 1180px;}

/*2002*/
#dot42
{bottom: 100px;
left: 1250px;}
#dot43
{bottom: 150px;
left: 1250px;}
#dot44
{bottom: 200px;
left: 1250px;}

/*2001*/
#dot45
{bottom: 100px;
left: 1320px;}
#dot46
{bottom: 150px;
left: 1320px;}

/*2000*/
#dot47
{bottom: 100px;
left: 1388px;}

/*1997*/
#dot48
{bottom: 100px;
left: 1598px;}
#dot49
{bottom: 150px;
left: 1598px;}

/*1996*/
#dot50
{bottom: 100px;
left: 1668px;}

/*1995*/
#dot51
{bottom: 100px;
left: 1738px;}
#dot52
{bottom: 150px;
left: 1738px;}
#dot53
{bottom: 200px;
left: 1738px;}
#dot54
{bottom: 250px;
left: 1738px;}

/*1994*/
#dot55
{bottom: 100px;
left: 1808px;}
#dot56
{bottom: 150px;
left: 1808px;}

/*1993*/
#dot57
{bottom: 100px;
left: 1878px;}

/*1992*/
#dot58
{bottom: 100px;
left: 1948px;}
#dot59
{bottom: 150px;
left: 1948px;}
#dot60
{bottom: 200px;
left: 1948px;}

/*1988*/
#dot61
{bottom: 100px;
left: 2228px;}

/*1983*/
#dot62
{bottom: 100px;
left: 2578px;}
#dot63
{bottom: 150px;
left: 2578px;}

/*1981*/
#dot64
{bottom: 100px;
left: 2718px;}

/*1978*/
#dot65
{bottom: 100px;
left: 2928px;}
#dot66
{bottom: 150px;
left: 2928px;}

/*1977*/
#dot67
{bottom: 100px;
left: 2998px;}

/*1972*/
#dot68
{bottom: 100px;
left: 3348px;}
#dot69
{bottom: 150px;
left: 3348px;}

/*1970*/
#dot70
{bottom: 100px;
left: 3488px;}

/*1969*/
#dot71
{bottom: 100px;
left: 3558px;}

/*1945*/
#dot72
{bottom: 100px;
left: 5235px;}



.dot_ex
 {
  width: 180px;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 5px 15px 0 rgba(148, 148, 148, 0.5);
  color: black;
  text-align: center;
  line-height: 1.5;
  padding: 5px 0;
  border-radius: 0px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top:-5px;
  right:50px;
  font-size: 11px;
  font-weight: 400;
  z-index: 4;
  word-break: keep-all;
  transition: 0.2s;
  }

.dot_ex:hover, .dot_ex:active
{background-color: #00ffc7;}
  a
  {text-decoration: none;
    color:black; }

  a:hover
  {text-decoration: underline;}

  #dot1:hover .dot_ex, #dot2:hover .dot_ex, #dot3:hover .dot_ex, #dot4:hover .dot_ex,#dot5:hover .dot_ex,
  #dot6:hover .dot_ex, #dot7:hover .dot_ex, #dot8:hover .dot_ex, #dot9:hover .dot_ex, #dot10:hover .dot_ex,
  #dot11:hover .dot_ex, #dot12:hover .dot_ex, #dot13:hover .dot_ex, #dot14:hover .dot_ex, #dot15:hover .dot_ex,
  #dot16:hover .dot_ex, #dot17:hover .dot_ex, #dot18:hover .dot_ex, #dot19:hover .dot_ex, #dot19:hover .dot_ex,
  #dot20:hover .dot_ex, #dot38:hover .dot_ex, #dot56:hover .dot_ex,
  #dot21:hover .dot_ex, #dot39:hover .dot_ex, #dot57:hover .dot_ex,
  #dot22:hover .dot_ex, #dot40:hover .dot_ex, #dot58:hover .dot_ex,
  #dot23:hover .dot_ex, #dot41:hover .dot_ex, #dot59:hover .dot_ex,
  #dot24:hover .dot_ex, #dot42:hover .dot_ex, #dot60:hover .dot_ex,
  #dot25:hover .dot_ex, #dot43:hover .dot_ex, #dot61:hover .dot_ex,
  #dot26:hover .dot_ex, #dot44:hover .dot_ex, #dot62:hover .dot_ex,
  #dot27:hover .dot_ex, #dot45:hover .dot_ex, #dot63:hover .dot_ex,
  #dot28:hover .dot_ex, #dot46:hover .dot_ex, #dot64:hover .dot_ex,
  #dot29:hover .dot_ex, #dot47:hover .dot_ex, #dot65:hover .dot_ex,
  #dot30:hover .dot_ex, #dot48:hover .dot_ex, #dot66:hover .dot_ex,
  #dot31:hover .dot_ex, #dot49:hover .dot_ex, #dot67:hover .dot_ex,
  #dot32:hover .dot_ex, #dot50:hover .dot_ex, #dot68:hover .dot_ex,
  #dot33:hover .dot_ex, #dot51:hover .dot_ex, #dot69:hover .dot_ex,
  #dot34:hover .dot_ex, #dot52:hover .dot_ex, #dot70:hover .dot_ex,
  #dot35:hover .dot_ex, #dot53:hover .dot_ex, #dot71:hover .dot_ex,
  #dot36:hover .dot_ex, #dot54:hover .dot_ex, #dot72:hover .dot_ex,
  #dot37:hover .dot_ex, #dot55:hover .dot_ex, #dot73:hover .dot_ex{visibility: visible;
  }

#dot1:active .dot_ex, #dot2:active .dot_ex, #dot3:active .dot_ex, #dot4:active .dot_ex,#dot5:active .dot_ex,
#dot6:active .dot_ex, #dot7:active .dot_ex, #dot8:active .dot_ex, #dot9:active .dot_ex, #dot10:active .dot_ex,
#dot11:active .dot_ex, #dot12:active .dot_ex, #dot13:active .dot_ex, #dot14:active .dot_ex, #dot15:active .dot_ex,
#dot16:active .dot_ex, #dot17:active .dot_ex, #dot18:active .dot_ex, #dot19:active .dot_ex, #dot19:active .dot_ex,
#dot20:active .dot_ex, #dot38:active .dot_ex, #dot56:active .dot_ex,
#dot21:active .dot_ex, #dot39:active .dot_ex, #dot57:active .dot_ex,
#dot22:active .dot_ex, #dot40:active .dot_ex, #dot58:active .dot_ex,
#dot23:active .dot_ex, #dot41:active .dot_ex, #dot59:active .dot_ex,
#dot24:active .dot_ex, #dot42:active .dot_ex, #dot60:active .dot_ex,
#dot25:active .dot_ex, #dot43:active .dot_ex, #dot61:active .dot_ex,
#dot26:active .dot_ex, #dot44:active .dot_ex, #dot62:active .dot_ex,
#dot27:active .dot_ex, #dot45:active .dot_ex, #dot63:active .dot_ex,
#dot28:active .dot_ex, #dot46:active .dot_ex, #dot64:active .dot_ex,
#dot29:active .dot_ex, #dot47:active .dot_ex, #dot65:active .dot_ex,
#dot30:active .dot_ex, #dot48:active .dot_ex, #dot66:active .dot_ex,
#dot31:active .dot_ex, #dot49:active .dot_ex, #dot67:active .dot_ex,
#dot32:active .dot_ex, #dot50:active .dot_ex, #dot68:active .dot_ex,
#dot33:active .dot_ex, #dot51:active .dot_ex, #dot69:active .dot_ex,
#dot34:active .dot_ex, #dot52:active .dot_ex, #dot70:active .dot_ex,
#dot35:active .dot_ex, #dot53:active .dot_ex, #dot71:active .dot_ex,
#dot36:active .dot_ex, #dot54:active .dot_ex, #dot72:active .dot_ex,
#dot37:active .dot_ex, #dot55:active .dot_ex, #dot73:active .dot_ex{visibility: visible;
}



button.filter_button
{display: block;
width: 60px;
height: 60px;
border-radius: 50%;
border: 1px;
box-shadow: 0 0px 10px 0 rgba(148, 148, 148, 0.5);
padding-top:auto;
padding-bottom:auto;
text-align: center;
font-size: 15px;
margin-right: 0px;
position: fixed;
left: 33px;
z-index: 4;
transition: 0.2s;
font-weight: 400;
cursor: url(cursor.cur),auto;}

button#hyup
{top: 130px;}
button#hak
{top: 200px;}
button#jin
{top: 270px;}
button#yeon
{top: 340px;}
button#etc
{top: 410px;}
.filter_button:focus{outline: none;}

button.filter_button:hover
{transform: scale(1.1);
box-shadow: 0 0px 25px 0 rgba(148, 148, 148, 0.5);}

button#hyup:hover
{background-color: #4252a4;}
button#hak:hover
{background-color: #f3e30c;}
button#yeon:hover
{background-color: #f58d82;}
button#jin:hover
{background-color: #ED1F24;}
button#etc:hover
{background-color: #969696;}
